
@{
    ViewData["Title"] = "Error";
}

<div class="text-center text-danger">
    <h1>Error: NO Product Found!</h1>
    <p>Please try again</p>
    <a href="/Products/Index" class="btn btn-dark">Go Back</a>
</div>
